.schema {
    padding: 50px 10px 50px 10px;
    background-color: #f3f3f3;
    &__title {
        text-align: center;
        color: #000000;
    }
    &__wrapper {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(4, 250px);
        grid-template-rows: repeat(2, 140px);
        column-gap: 30px;
        row-gap: 50px;
        justify-content: center;
    }
    &__img {
        width: 50px;
        margin: 0 auto;
    }
    &__header {
        margin-top: 10px;
        text-align: center;
        font-size: 16px;
        color: #ec644b;
        font-weight: 500;
    }
    &__descr {
        margin-top: 5px;
        text-align: center;
        font-size: 14px;
        color: #3a3a3a;
    }
}